# http://editorconfig.org

#这个文件用来配置当前整个项目的格式化参数
#需要安装EditorConfig for VS Code 插件

# A special property that should be specified at the top of the file outside of
# any sections. Set to true to stop .editor config file search on current file
root = true

# Unix-style newlines with a newline ending every file
[*]
# Indentation style
# Possible values - tab, space
# 缩进风格
# 可选的值为-   tab, space
indent_style = space

# Indentation size in single-spaced characters
# Possible values - an integer, tab
# 缩进几个tab ,空格
indent_size = 2

# Line ending file format
# Possible values - lf, crlf, cr
end_of_line = lf

# File character encoding
# Possible values - latin1, utf-8, utf-16be, utf-16le
# 设置编码
charset = utf-8

# Denotes whether to trim whitespace at the end of lines
# Possible values - true, false
trim_trailing_whitespace = true

# Denotes whether file should end with a newline
# Possible values - true, false
insert_final_newline = true

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 4
